# Node modules
whatsapp-bot/node_modules/
node_modules/

# WhatsApp session & cache (SEMUA DI-IGNORE!)
whatsapp-bot/whatsapp-session/
whatsapp-bot/.wwebjs_auth/
whatsapp-bot/.wwebjs_cache/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Ignore foto upload
assets/warga_img/absensi/*.png
assets/warga_img/absensi/*.jpg
assets/warga_img/absensi/*.jpeg

assets/warga_img/insiden_keamanan/*.png
assets/warga_img/insiden_keamanan/*.jpg
assets/warga_img/insiden_keamanan/*.jpeg

# Keep folder structure
!assets/warga_img/absensi/.gitkeep
!assets/warga_img/insiden_keamanan/.gitkeep